<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ye.gametrade_in">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name = "com.example.ye.gametrade_in.GameTradeInApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".GameDetailActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".PublishActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".OrderDetailActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".OfferListActivity"
            android:label="">
        </activity>

        <activity android:name=".MatchActivity"
            android:label="">
        </activity>

        <activity android:name=".AddressActivity"
            android:label="">
        </activity>

        <activity android:name=".AddressOperationActivity"
            android:label="">
        </activity>

    </application>

</manifest>